
.product-card {
  border: none;
  border-radius: 20px;
  
  img{

    padding: 0.15rem;
    border-radius: 20px 20px 0px 0px;
  }
  h2 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
}

.product-card .card-body {
  padding: 1rem;
}
