@import 'index';
@import 'productos';
@import 'recetas';

.navbar-nav {
  .nav-item {
    .nav-link {
      position: relative;
      &:hover {
        text-decoration: underline;
        text-decoration-color: var(--bs-light); 
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;
      }

      &.active {
        text-decoration: underline;
        text-decoration-color: var(--bs-warning);
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;

        &::after {
          content: "";
          position: absolute;
          bottom: -2px; 
          left: 0;
          width: 100%;
          height: 2px; 
          
        }
      }
    }
  }
}

